swhurl.com www.swhurl.com {
  tls sam@swhurl.com
  gzip
  prometheus 0.0.0.0:9180
  proxy / website:3000 {
    transparent
  }
}

staging.swhurl.com staging.www.swhurl.com {
  tls sam@swhurl.com
  gzip
  prometheus 0.0.0.0:9180
  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / website-staging:3000 {
    transparent
  }
}

deploy.swhurl.com {
  tls sam@swhurl.com
  gzip
  prometheus 0.0.0.0:9180
  proxy / deploy:3000 {
    transparent  
  } 
}

drone.swhurl.com {
  tls sam@swhurl.com {
    alpn http/1.1
  }
  gzip {
    not /stream/
  }
  prometheus 0.0.0.0:9180
  proxy / drone-server:8000 {
    websocket
    transparent  
  } 
}

prometheus.swhurl.com {
  tls sam@swhurl.com
  gzip
  prometheus 0.0.0.0:9180
  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / prometheus:9090 {
    transparent
  }
}

alert.swhurl.com {
  tls sam@swhurl.com
  gzip
  prometheus 0.0.0.0:9180
  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / alertmanager:9093 {
    transparent  
  } 
}

grafana.swhurl.com {
  tls sam@swhurl.com {
    alpn http/1.1
  }
  gzip {
    not /stream/
  }
  prometheus 0.0.0.0:9180
  proxy / grafana:3000 {
    transparent  
    websocket
  } 
}
