swhurl.com www.swhurl.com {
  tls sam@swhurl.com
  gzip
  prometheus 0.0.0.0:9180
  proxy / website:3000 {
    transparent
  }
  internal /metrics
  rewrite /favicon.ico /static/favicon.ico
  rewrite /robots.txt /static/robots.txt
}

staging.swhurl.com staging.www.swhurl.com {
  tls sam@swhurl.com
  gzip
  prometheus 0.0.0.0:9180
  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / website-staging:3000 {
    transparent
  }
  internal /metrics
  rewrite /favicon.ico /static/favicon.ico
  rewrite /robots.txt /static/robots.txt
}

registry.swhurl.com {
  tls sam@swhurl.com
  prometheus 0.0.0.0:9180
  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / registry:5000 {
    transparent  
  } 
  header / Docker-Distribution-Api-Version "registry/2.0"
}

id.swhurl.com {  
  tls sam@swhurl.com
  gzip
  proxy / freeipa:80 {
    transparent  
  } 
}

jaeger.swhurl.com {
  tls sam@swhurl.com
  gzip
  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / jaeger:16686 {
    transparent  
  } 
}

drone.swhurl.com {
  tls sam@swhurl.com {
    alpn http/1.1
  }
  gzip {
    not /stream/
  }
  prometheus 0.0.0.0:9180
  proxy / drone-server:8000 {
    websocket
    transparent  
  } 
}

prometheus.swhurl.com {
  tls sam@swhurl.com
  gzip
  prometheus 0.0.0.0:9180
  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / prometheus:9090 {
    transparent
  }
}

alert.swhurl.com {
  tls sam@swhurl.com
  gzip
  prometheus 0.0.0.0:9180
  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / alertmanager:9093 {
    transparent  
  } 
}

grafana.swhurl.com {
  tls sam@swhurl.com {
    alpn http/1.1
  }
  gzip {
    not /stream/
  }
  prometheus 0.0.0.0:9180
  proxy / grafana:3000 {
    transparent  
    websocket
  } 
}
